@using WebViecLammoi.DAO
@using WebViecLammoi.Utils
@using WebViecLammoi.Models
@using WebViecLammoi.i18n
@model KhachHang

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="~/Content/js/summernote-vi-VN.js"></script>
<script src="~/Content/js/summernote.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="~/Content/css/Info_Style.css" rel="stylesheet" />
<style>
    @@media screen and (max-width:700px) {
        .leftcontact {
            width: 100%;
            /*float: left;*/
            border-right: none;
            box-sizing: border-box;
            padding: 0px 15px 0px 0px;
        }

        .rightcontact {
            width: 100%;
            /*float: right;*/
            box-sizing: border-box;
            padding: 0px 0px 0px 15px;
        }
    }
    .container{
        padding-right:5px !important;
        padding-left:5px !important;
    }
    .row {
        margin-right: -8px;
        margin-left: -8px;
    }
</style>
<section style="background-image: url(/Content/img/map.png); background-attachment: fixed !important; background-size: cover !important; background-position: 50% 0 !important; ">
    <div class="container">
        <div class="row">
            <div class="container text-center">
                <h3 style="font-weight: lighter; color: #0094ff">@Common.CanInfo</h3>
            </div>
        </div>
    </div>
</section>
<section>
    
    @using (Html.BeginForm("_EditCandidateAccount", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        var logo = XString.Cutstring(Model.Hinh);
        var HoTen = Model.HoTen;
        var DienThoai = Model.DienThoai;
        var Email = Model.Email;
        var path = XString.maplocal + "Avatar_UV\\" + logo;
        <fieldset id="fom12" class="info_form">
            <div class="container">
                <h1 class="info_header">@Common.FillInfo</h1>
                <div class="contentform">
                    <div id="sendmessage">Your message has been sent successfully. Thank you. </div>
                </div>
                <div class="leftcontact">
                    <div class="form-group">
                        <p>@Common.FullName <span>*</span></p>
                        <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                        <input value="@HoTen" style="height: 42px !important" type="text" class="form-control" name="HoTen_kh" required>

                        @Html.HiddenFor(m => m.KH_ID)
                        @Html.HiddenFor(m => m.MaVach)
                        @Html.HiddenFor(m => m.CMND)
                        @Html.HiddenFor(m => m.SoGiayPhepLaiXe)
                        @Html.HiddenFor(m => m.HangGPLX)
                        @Html.HiddenFor(m => m.NoiCapGPLX)
                        @Html.HiddenFor(m => m.NgayCapGPLX)
                        @Html.HiddenFor(m => m.TheBHYT)
                        @Html.HiddenFor(m => m.SoBHXH)
                        @Html.HiddenFor(m => m.bhxh_noikhambenh)
                        @Html.HiddenFor(m => m.bhxh_ngaycap)
                        @Html.HiddenFor(m => m.bhxh_noicap)
                        @Html.HiddenFor(m => m.MaSoThue)
                        @Html.HiddenFor(m => m.Nganhang)
                        @Html.HiddenFor(m => m.Sotaikhoan)
                        @Html.HiddenFor(m => m.Skype)
                        @Html.HiddenFor(m => m.Facebook)
                        @Html.HiddenFor(m => m.ThuongTru_Tinh_ID)
                        @Html.HiddenFor(m => m.ThuongTru_Huyen_ID)
                        @Html.HiddenFor(m => m.ThuongTru_Xa_ID)
                        @Html.HiddenFor(m => m.ThuongTru_DiaChi)
                        @Html.HiddenFor(m => m.ChuKy)
                        @Html.HiddenFor(m => m.SucKhoe)
                        @Html.HiddenFor(m => m.ChieuCao)
                        @Html.HiddenFor(m => m.CanNang)
                        @Html.HiddenFor(m => m.QuocTich)
                        @Html.HiddenFor(m => m.DanToc_ID)
                        @Html.HiddenFor(m => m.DoiTuongChinhSach_ID)
                        @Html.HiddenFor(m => m.TonGiao)
                        @Html.HiddenFor(m => m.NguoiTao)
                        @Html.HiddenFor(m => m.NgayTao)
                        @Html.HiddenFor(m => m.NguoiCapNhat)
                        @Html.HiddenFor(m => m.SoLanCapNhat)
                        @Html.HiddenFor(m => m.KichHoat)
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                        <p>@Common.DateofBirth <span>*</span></p>
                        <span class="icon-case"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(x => x.NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = true, @style = " height: 40px" })
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <p>@Common.Sex <span>*</span></p>
                        <span class="icon-case"><i class="glyphicon glyphicon-magnet"></i></span>
                        <select class="form-control" name="GioiTinh" style="width: 75%; height: 40px">
                            @if (ViewBag.Gioitinh == 1)
                            {
                                <option value="1" selected>@Common.Male</option>
                                <option value="2">@Common.Female</option>
                            }
                            else
                            {
                                <option value="1">@Common.Male</option>
                                <option value="2" selected>@Common.Female</option>
                            }
                        </select>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <p>@Common.Phonenumber <span>*</span></p>
                        <p style="font-weight:bold;color:red;">@ViewBag.Phone_error</p>
                        <span class="icon-case"><i class="glyphicon glyphicon-phone"></i></span>
                        <input value="@DienThoai" style="height: 42px !important" type="text" class="form-control" name="DienThoai_kh" required>
                    </div>
                    <div class="form-group">
                        <p>@Common.IDNum <span>*</span></p>
                        <span class="icon-case"><i class="glyphicon glyphicon-credit-card"></i></span>
                        @Html.TextAreaFor(kh => kh.CMND, new { @class = "form-control", @required = "required", @style = "height: 40px" })
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">

                        <div>
                            <p>Nơi cấp CMND</p>
                            <span class="icon-case"><i class="glyphicon glyphicon-credit-card"></i></span>
                            <select id="NoiCap_ID" class="form-control" name="NoiCap_ID" style="width: 75%; height: 40px">
                                @foreach (DM_DiaChi h in ViewBag.NoiCap_ID)
                                {
                                    if (Model.NoiCap_ID == h.Id)
                                    {
                                        <option value="@h.Id" selected>@h.TenDiaChi</option>
                                    }
                                    else
                                    {
                                        <option value="@h.Id">@h.TenDiaChi</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <p>Ngày cấp CMND</p>
                        <span class="icon-case"><i class="glyphicon glyphicon-calendar"></i></span>
                        @Html.TextBoxFor(x => x.NgayCap, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = true, @style = " height: 40px" })
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <p>@Common.CurrentPlace<span>*</span></p>
                            <div>
                                <span class="icon-case"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.DropDownList("TamTru_Tinh_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <br />
                            <label>@Common.Town - Tạm trú </label>
                            <div class="form-group">
                                <span class="icon-case"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.DropDownList("TamTru_Huyen_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <label>@Common.Ward - Tạm trú </label>
                            <div class="form-group">
                                <span class="icon-case"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.DropDownList("TamTru_Xa_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <div class="form-group">
                                <p>@Common.Address - Tạm trú <span>*</span></p>
                                <span class="icon-case"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.TextBoxFor(kh => kh.TamTru_DiaChi, new { @class = "form-control", @required = true, @style = " height: 40px" })
                            </div>
                            <div class="form-group">
                                <p>Email (điền đúng định dạng email)<span>*</span></p>
                                <span class="icon-case"><i class="glyphicon glyphicon-record"></i></span>
                                <input value="@Email" style="height: 42px !important" type="email" class="form-control" name="Email_kh" required>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="rightcontact">
                    
                    <div class="form-group">
                        <p>@Common.Img Đại Diện(Tạo ấn tượng với nhà tuyển dụng)<span>*</span></p>
                        <div class="image-upload">
                            <input id="file-input" type="file" name="HinhDaiDien" />
                            <p id="thongbaosite" style="color:red; display:none">File quá lớn !!!</p>
                            @Html.HiddenFor(kh => kh.Hinh)
                        </div>
                        <script>
                            $('#file-input').bind('change', function () {
                                //this.files[0].size gets the size of your file.
                                var size = this.files[0].size;
                                const file = Math.round((size / 1024));
                                if (file >= 5200) {
                                    $("#thongbaosite").css('display', 'block');
                                    document.getElementById('btnLuu').disabled = true;
                                } else {
                                    $("#thongbaosite").css('display', 'none')
                                    document.getElementById('btnLuu').disabled = false;
                                }
                            });
                        </script>
                        <div class="form-group col-sm-6">
                            @if (File.Exists(path))
                            {
                                <img src="@XString.GetImgBase64("Avatar_UV",logo)" hidden />
                                <img class="img-responsive img-thumbnail" src="~/Content/Upload/Avatar_UV/@logo" style="max-width:260px;max-height:200px" />
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        <p>@Common.MaritalStatus <span>*</span></p>
                        <span class="icon-case"><i class="glyphicon glyphicon-user"></i></span>
                        <select class="form-control" name="TinhTrangHonNhan" style="width: 68%; height: 40px">
                            @if (ViewBag.Honnhan == 0 || ViewBag.Honnhan == -1)
                            {
                                <option value="0" selected>Không Rõ</option>
                                <option value="1">@Common.Single</option>
                                <option value="2">@Common.Married</option>
                            }
                            else if (ViewBag.Honnhan == 1)
                            {
                                <option value="0">Không Rõ</option>
                                <option value="1" selected>@Common.Single</option>
                                <option value="2">@Common.Married</option>
                            }
                            else
                            {
                                <option value="0">Không Rõ</option>
                                <option value="1">@Common.Single</option>
                                <option value="2" selected>@Common.Married</option>
                            }
                        </select>
                        <div class="validation"></div>
                    </div>
                    <div class="chuyenmon">
                        <div class="form-group">
                            <div>
                                <p>@Common.Educationallevel</p>
                                <span class="icon-case"><i class="glyphicon glyphicon-scissors"></i></span>
                                <select id="HocVan_ID" class="form-control" name="HocVan_ID" style="width: 75%; height: 40px">
                                    @foreach (DM_HocVan h in ViewBag.HocVan_ID)
                                    {
                                        if (Model.HocVan_ID == h.HocVan_ID)
                                        {
                                            <option value="@h.HocVan_ID" selected>@h.HocVan_Ten</option>
                                        }
                                        else
                                        {
                                            <option value="@h.HocVan_ID">@h.HocVan_Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="text" value="@ViewBag.KHTrinhDo" style="display:none" />
                        <div class="form-group">
                            <div class="form-group">
                                <b style="margin-bottom:2px">Trình độ bằng cấp <span>*</span></b>
                                <div>
                                    <span class="icon-case"><i class="glyphicon glyphicon-confluence"></i></span>
                                    @Html.DropDownList("TrinhDo_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                                </div>
                                <div class="validation"></div>
                            </div>
                            <b style="margin-bottom:2px">Ngành đào tạo</b>
                            <div>
                                <span class="icon-case"><i class="glyphicon glyphicon-education"></i></span>
                                @Html.DropDownList("Nganh_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })

                            </div>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <b style="margin-bottom:2px">Nghề đào tạo (Hoạt động vs thuật toán tìm kiếm của web)</b>
                            <div>
                                <span class="icon-case"><i class="glyphicon glyphicon-education"></i></span>
                                @Html.DropDownList("Nghe_ID", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <div class="validation"></div>
                        </div>

                    </div>
                    @*///////////////*@
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6  col-xs-12">
                                <p>Khả năng @Common.Computerlevel 1</p>
                                <span class="icon-case"><i class="glyphicon glyphicon-lamp"></i></span>
                                @Html.DropDownList("NghiepVu1", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <div class="col-md-6  col-xs-12">
                                <p>Khả năng @Common.Computerlevel 2</p>
                                <span class="icon-case"><i class="glyphicon glyphicon-lamp"></i></span>
                                @Html.DropDownList("NghiepVu11", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6  col-xs-12">
                                <p>Thành thạo @Common.ForeignLanguage 1</p>
                                <span class="icon-case"><i class="glyphicon glyphicon-lamp"></i></span>
                                @Html.DropDownList("NghiepVu2", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                            <div class="col-md-6  col-xs-12">
                                <p>Thành thạo @Common.ForeignLanguage 2</p>
                                <span class="icon-case"><i class="glyphicon glyphicon-lamp"></i></span>
                                @Html.DropDownList("NghiepVu22", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <p>Khả năng khác</p>
                        <span class="icon-case"><i class="glyphicon glyphicon-flash"></i></span>
                        @Html.DropDownList("NghiepVu3", null, new { @class = "form-control", style = "width: 75%; height: 40px" })
                    </div>
                </div>
                <button id="btnLuu" type="submit" class="bouton-contact">@Common.SaveInfo</button>
            </div>


        </fieldset>
    }
    @*</form>*@
</section>

<script type="text/javascript">

    //XỬ LÝ ĐỊA CHỈ Ở PHẦN TẠM TRÚ
    // LOAD XÃ/PHƯỜNG KHI THAY ĐỔI HUYỆN
    $(function () {
        $('#TamTru_Huyen_ID').change(function () {
            $('#TamTru_Xa_ID').empty();
            var MaQuanHuyen = $('#TamTru_Huyen_ID').val();
            //alert(MaQuanHuyen.toString());
            $.ajax({
                url: "/Account/TamTru_Xa_ID", // we are calling json method
                data: { TamTru_Huyen_ID: MaQuanHuyen },
                success: function (response) {
                    $(response).each(function (i, e) {
                        $("#TamTru_Xa_ID").append(
                            $('<option/>')
                                .attr('value', e.Id)
                                .text(e.TenDiaChi)
                        );
                        // here we are adding option for Phuongxa
                    });
                },
                error: function (ex) {
                    alert('Lỗi load phường xã: ' + ex);
                }
            });
        });
    });
    $(function () {
        var MaTinh = $('#TamTru_Tinh_ID').val();
        $('#TamTru_Tinh_ID').change(function () {
            $('#TamTru_Huyen_ID').empty();
            var MaTinh = $('#TamTru_Tinh_ID').val();
            //alert(MaQuanHuyen.toString());
            $.ajax({
                url: "/Account/TamTru_Huyen_ID", // we are calling json method
                data: { TamTru_Tinh_ID: MaTinh },
                success: function (response) {
                    $(response).each(function (i, e) {
                        $("#TamTru_Huyen_ID").append(
                            $('<option/>')
                                .attr('value', e.Id)
                                .text(e.TenDiaChi)
                        );
                        // here we are adding option for Phuongxa
                    });
                },
                error: function (ex) {
                    alert('Lỗi load Quận/ huyện: ' + ex);

                }
            });


            //LOAD XÃ/PHƯỜNG KHI THAY ĐỔI TỈNH --> QUẬN/HUYỆN THAY ĐỔI --> XÃ/PHƯỜNG THAY ĐỔI THEO - NHỰT
            $(function () {
                $('#TamTru_Xa_ID').empty();
                var MaQuanHuyen = $('#TamTru_Huyen_ID').val();
                //alert(MaQuanHuyen.toString());
                $.ajax({
                    url: "/Account/TamTru_Xa_ID", // we are calling json method
                    data: { TamTru_Huyen_ID: MaQuanHuyen },
                    success: function (response) {
                        $(response).each(function (i, e) {
                            $("#TamTru_Xa_ID").append(
                                $('<option/>')
                                    .attr('value', e.Id)
                                    .text(e.TenDiaChi)
                            );
                            // here we are adding option for Phuongxa
                        });
                    },
                    error: function (ex) {
                        //alert('Lỗi load phường xã khi có đã load quận huyện: ' + ex);
                        var abc = $('#TamTru_Huyen_ID').val();
                        $(function () {
                            $('#TamTru_Xa_ID').empty();
                            //alert(MaQuanHuyen.toString());
                            $.ajax({
                                url: "/Account/TamTru_Xa_ID", // we are calling json method
                                data: { TamTru_Huyen_ID: abc },
                                success: function (response) {
                                    $(response).each(function (i, e) {
                                        $("#TamTru_Xa_ID").append(
                                            $('<option/>')
                                                .attr('value', e.Id)
                                                .text(e.TenDiaChi)
                                        );
                                        // here we are adding option for Phuongxa
                                    });
                                },
                                error: function (ex) {
                                    alert('Lỗi load phường xã ( lúc này đã load quận huyện): ' + ex);
                                }
                            });


                        });
                    }
                });

            });
        });
    });




    //XỬ LÝ LOAD NGHỀ THEO NGÀNH - CHUYÊN MÔN 1
    $(function () {
        var MaNganhNghe = $('#Nganh_ID').val();//truyền hằng số cho lần chạy đầu tiên
        $.ajax({
            url: "/Account/Nghe_ID", // we are calling json method
            data: { Nganh_ID: MaNganhNghe },
            success: function (response) {
                $(response).each(function (i, e) {
                    $("#Nghe_ID").append(
                        $('<option/>')
                            .attr('value', e.NgheLaoDong_ID)
                            .text(e.TenNgheLaoDong)
                    );
                });
            },
            error: function (ex) {
                alert('Lỗi load ngành nghề: ' + ex);
            }
        });
    });


    // XỬ LÝ LOAD NGHỀ THEO NGÀNH - KHI THAY ĐỔI NGÀNH
    $(function () {
        $('#Nganh_ID').change(function () {
            $('#Nghe_ID').empty();
            var MaNganhNghe = $('#Nganh_ID').val();
            $.ajax({
                url: "/Account/Nghe_ID", // we are calling json method
                data: { Nganh_ID: MaNganhNghe },
                // here we are get value of selected QuanHuyen and passing same value
                //as inputto json method Phuongxa.
                success: function (response) {
                    // states contains the JSON list
                    // of states passed from the controller
                    $(response).each(function (i, e) {
                        $("#Nghe_ID").append(
                            $('<option/>')
                                .attr('value', e.NgheLaoDong_ID)
                                .text(e.TenNgheLaoDong)
                        );
                        // here we are adding option for Phuongxa
                    });
                },
                error: function (ex) {
                    alert('Lỗi load ngành nghề: ' + ex);
                }
            });
        });
    });

</script>
@Scripts.Render("~/bundles/jqueryval")

