@using WebViecLammoi.i18n
@using WebViecLammoi.Models
@model UserWeb

@{
    ViewBag.Title = "_Register";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<style>

    .capcha {
        display: flex;
    }

    #CaptchaDiv {
        font: bold 17px verdana, arial, sans-serif;
        font-style: italic;
        color: #000000;
        background-color: #e86b6b;
        margin-left: 20px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 0 30px;
    }


    #tbCapcha {
        color: red;
        font-weight: bold;
        display: none;
        margin-top: 15px;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="~/Content/css/Login_Style.css" rel="stylesheet" />
<div class="container" style="width:100%;background-color: white; margin-top: 20px; border-radius: 4px 4px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.32);">

    <div class="omb_login">
        <h3 class="omb_authTitle "><a>ĐĂNG KÝ</a></h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-1 col-sm-1"></div>
            <div class="col-xs-10 col-sm-10 col-md-4">
                <a href="/Account/_RegisterEmail" class="btn btn-lg btn-block omb_btn-google">
                    <span>ĐĂNG KÝ tài khoản qua Gmail</span>
                </a>
                <a href="/Account/loginFacebook" class="btn btn-lg btn-block omb_btn-facebook">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span>ĐĂNG KÝ với tài khoản Facebook</span>
                </a>
                <span class="help-block"></span><br />
            </div>

        </div>

        <div class="row omb_row-sm-offset-3" style="padding-bottom:20px">
            <div class="col-xs-12 col-sm-6">
                <span class="text-center text-danger">@Session["ThongbaodangkyEmail"]</span>
                <form class="omb_loginForm" onsubmit="return checkform(this)" action="" autocomplete="off" method="post">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <span class="help-block">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="UserName" placeholder="Tên tài khoản dùng để đăng nhập website" required>
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input onkeyup="kiemtra_mk()" type="password" class="form-control" id="PasswordCk" name="Password" placeholder="Mật khẩu gồm chử thường,chử in hoa,ký tự đặc biệt và số" required>
                        </div>
                        <p id="passwordStrength"></p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
                            <input type="password" class="form-control" name="PasswordSec" placeholder="Xác nhận lại mật khẩu" required>
                        </div>
                        <span class="help-block"></span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" name="EmailConnection" placeholder="Email để lấy lại mật khẩu" required>
                        </div>
                        <span class="help-block"></span>
                        <div class="input-group">
                            <label>Loại tài khoản:</label>
                            <label class="radio-inline">
                                <input type="radio" name="UserRoles_NVLoaitaikhoan" value="3" checked> Người tìm việc
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="UserRoles_NVLoaitaikhoan" value="4">Tuyển dụng
                            </label>
                        </div>
                        <span class="help-block"></span>


                        <!-- START CAPTCHA -->
                        <div>
                            <label>@Common.Captcha :&nbsp;</label>
                            <img id="mycaptcha" src="/Account/GetCaptchaImage" title="Captcha" /><p style="font-weight:bold;color:red;">@ViewData["captcha"]</p>

                            @*<img id="refresh" style="padding-bottom:15px; margin-left:12px;" src="~/Content/img/logo_transparent.png" />*@
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-adjust"></i></span>
                            <input type="text" class="form-control" name="captcha" placeholder="@Common.Captcha">
                        </div>


                        <!-- END CAPTCHA -->
                        <span class="help-block">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                        <button type="submit" id="laymaotp" class="btn btn-lg btn-success btn-block" disabled><i class="fa fa-user-plus"></i> Thêm 1 bước để hoàn thành hồ sơ</button>

                    }
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

