@using WebViecLammoi.Models
@using WebViecLammoi.i18n

@model UserWeb

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/css/Login_Style.css" rel="stylesheet" />
<div class="container" style="background-color: white; margin-top: 20px; border-radius: 4px 4px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.32);">

    <div class="omb_login">
        <h3 class="omb_authTitle " style="font-family:monospace"><a>Lần Đầu Đăng Nhập Bạn là Doanh Nghiệp hay Người Tìm Việc </a></h3>
        @using (Html.BeginForm("_RegisterEX", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row omb_row-sm-offset-3" style="padding-bottom:20px">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="post">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" name="Email" value="@ViewBag.Email" placeholder="Email" readonly>
                        </div>
                        <span class="help-block"></span>
                        <div class="input-group">
                            <label style="font-family:monospace">@Common.Account:&nbsp;</label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" value="ntv" checked> @Common.Candidate
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" value="ntd"> @Common.Recruitment
                            </label>
                        </div>
                        <span class="help-block"></span>
                        <div class="input-group">
                            <label style="font-family:monospace">@Common.Captcha:&nbsp;</label>
                            <img id="mycaptcha" src="/Account/GetCaptchaImage" title="Captcha" /><span style="font-weight:bold;color:red;">@ViewData["captcha"]</span>


                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-shield"></i></span>
                            <input type="text" class="form-control" name="captcha" placeholder="Điền Mã Xác Thực">
                        </div>
                        <span class="help-block" style="font-family:monospace">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                        <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fa fa-user-plus"></i> @Common.Register</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>



